/* Main view */

.gallery {
  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gallery-grid-gap;
    grid-auto-rows: $gallery-grid-row-max-height;
  }
}

.gallery-item{
  // height: $gallery-item-height-mobile;
  margin-bottom: $gallery-item-margin-bottom-mobile;

  @media (min-width: $min-width-mobile-landscape) {
    margin-bottom: 0;
  }
}
