/* Main view */

.gallery-wrapper {
  padding: 0;

  @media (min-width: $min-width-mobile-landscape) {
    width: $wrapper-width-mobile-landscape;
    margin: 0 auto;
  }

  @media (min-width: $min-width-tablet) {
    width: $wrapper-width-tablet;
  }

  @media (min-width: $min-width-desktop) {
    padding: 0;
    margin: 0 auto;
  }
}

.gallery {
  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gallery-grid-gap;
    grid-auto-rows: $gallery-grid-row-max-height;
  }
}

.gallery-item{
  // height: $gallery-item-height-mobile;
  margin-bottom: $gallery-item-margin-bottom-mobile;

  @media (min-width: $min-width-mobile-landscape) {
    margin-bottom: 0;
  }
}
