/* Wrapper */

.wrapper {
  padding: 0;

  @media (min-width: $min-width-mobile-landscape) {
    width: $wrapper-width-mobile-landscape;
    margin: 0 auto;
  }

  @media (min-width: $min-width-tablet) {
    width: $wrapper-width-tablet;
  }

  @media (min-width: $min-width-desktop) {
    padding: 0;
    margin: 0 auto;
  }

  &--user-page {
    margin: $wrapper-userpage-margin-mobile;

    @media (min-width: $min-width-mobile-landscape) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}