/* Card component */

.card__header {
  display: flex;
  align-items: center;
  padding: $card-header-padding;
}

.card__img-container {
  max-width: $width-mobile;
  margin: 0 auto;

  @media (min-width: $min-width-mobile-landscape) {
    max-width: fit-content;
  }

  @media (min-width: $min-width-tablet) {
    height: $image-height-tablet;
  }
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__views {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $card-views-padding;
}

.views-count {
  @include text-base;

  margin-right: 5px;
  font-weight: $font-weight-bold;
}
