/* Pagination component */

.pagination-container {
  width: 100%;
  height: $pagination-height;
  background-color: $bg-color-pagination;
}

.pagination {
  height: 100%;
  max-width: $width-mobile;
  margin: 0 auto;
  text-align: center;

  &__item {
    @include text-pagination;

    &--selected {
      @include text-pagination--selected;
    }
  }
}
