/* User-info component */

.user-info {
  display: flex;
  align-items: center;

  &--user-page {
    margin-bottom: $user-page-header-margin-bottom;
    
    & .user-name {
      @include text-title--user-page;
    }

    & .user-instagram {
      @include text-base--user-page;
    }
  }
}

.user-name {
  @include text-title;
}

.user-instagram {
  @include text-base;
}

.user-img {
  margin-right: $user-img-margin-right;
  border-radius: 50%;

  &--user-page {
    margin-right: $user-img-margin-right--userpage;
  }
}
