/* User-info component */

.user-info {
  display: flex;
  align-items: center;
}

.user-title {
  @include text-title;
}

.user-instagram {
  @include text-base;
}

.user-img {
  margin-right: $user-img-margin-right;
  border-radius: 50%;

  &--user-page {
    margin-right: $user-img-margin-right--userpage;
  }
}
