/* COLORS */
/* Backgroung-color */
$bg-color-main: #ffffff;
$bg-color-pagination: rgba(0, 0, 0, 0.9);

/* Font-colors */
$font-color-title: #333333;
$font-color-base: #8D8D8D;
$font-color-pagination: #ffffff;
