/* FONT OPTIONS */
$main-font: 'Roboto Condensed', Arial, sans-serif;
$font-style-normal: normal;

/* Font-weight */
$font-weight-bold: 700;
$font-weight-regular: 400;

/* Font-size */
$font-size-base: 12px;
$font-size-pagination: 14px;

/* Line-height */
$line-height-base: $font-size-base + 2px;
$line-height-pagination: 60px;
