/* Text mixins */
@mixin text-title {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  color: $font-color-title;
}

@mixin text-base {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  color: $font-color-base;
}

@mixin text-pagination {
  font-size: $font-size-pagination;
  line-height: $line-height-pagination;
  font-weight: $font-weight-regular;
  color: $font-color-pagination;
}
